
.vs/CPSC_471/FileContentIndex/ab7905ea-5c93-4efd-bd42-2185955c7b56.vsidx
.vs/CPSC_471/FileContentIndex/read.lock
.vs/CPSC_471/v17/.suo
.vs/Enterprise_UI/config/applicationhost.config
.vs/Enterprise_UI/v17/.suo
.vs/slnx.sqlite
bin/Debug/net6.0/Enterprise_UI.dll
bin/Debug/net6.0/Enterprise_UI.exe
bin/Debug/net6.0/Enterprise_UI.pdb
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Enterprise_UI.assets.cache
obj/Debug/net6.0/Enterprise_UI.csproj.AssemblyReference.cache
obj/Debug/net6.0/Enterprise_UI.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/Enterprise_UI.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Enterprise_UI.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Enterprise_UI.dll
obj/Debug/net6.0/Enterprise_UI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Enterprise_UI.genruntimeconfig.cache
obj/Debug/net6.0/Enterprise_UI.pdb
obj/Debug/net6.0/refint/Enterprise_UI.dll
obj/Enterprise_UI.csproj.nuget.dgspec.json
obj/Enterprise_UI.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0/Enterprise_UI.AssemblyInfo.cs
obj/Release/net6.0/Enterprise_UI.AssemblyInfoInputs.cache
obj/Release/net6.0/Enterprise_UI.assets.cache
obj/Release/net6.0/Enterprise_UI.csproj.AssemblyReference.cache
obj/Release/net6.0/Enterprise_UI.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/Enterprise_UI.GlobalUsings.g.cs
obj/staticwebassets.pack.sentinel
.vs/Enterprise_UI/FileContentIndex/37f4cd90-cf66-4412-9206-24a6174b4e7f.vsidx
.vs/Enterprise_UI/FileContentIndex/read.lock
.vs/slnx.sqlite
bin/Debug/net6.0/Enterprise_UI.dll
bin/Debug/net6.0/Enterprise_UI.exe
bin/Debug/net6.0/Enterprise_UI.pdb
obj/Debug/net6.0/Enterprise_UI.assets.cache
obj/Debug/net6.0/Enterprise_UI.csproj.AssemblyReference.cache
obj/Debug/net6.0/Enterprise_UI.GeneratedMSBuildEditorConfig.editorconfig
.vs/Enterprise_UI/FileContentIndex/4db39fe5-4d6c-4cdb-9483-dc310aea7f16.vsidx
.vs/slnx.sqlite
bin/Debug/net6.0/Enterprise_UI.dll
bin/Debug/net6.0/Enterprise_UI.exe
bin/Debug/net6.0/Enterprise_UI.pdb
obj/Debug/net6.0/Enterprise_UI.assets.cache
obj/Debug/net6.0/Enterprise_UI.csproj.AssemblyReference.cache
obj/Debug/net6.0/Enterprise_UI.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net6.0/Enterprise_UI.pdb
.vs/Enterprise_UI/FileContentIndex/3fe6257f-0064-4443-87a8-a751ca06e928.vsidx
.vs/slnx.sqlite
bin/Debug/net6.0/Enterprise_UI.dll
bin/Debug/net6.0/Enterprise_UI.exe
bin/Debug/net6.0/Enterprise_UI.pdb
obj/Debug/net6.0/Enterprise_UI.assets.cache
obj/Debug/net6.0/Enterprise_UI.csproj.AssemblyReference.cache
obj/Debug/net6.0/Enterprise_UI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Enterprise_UI.GeneratedMSBuildEditorConfig.editorconfig
